:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: block; /* Remove o flex centralizador do Vite */
  min-width: 100vw;
  min-height: 100vh;
  background-color: #f9fafb;
}

#root {
  width: 100%;
}
